body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(45, 0, 97);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 0, 46);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.formulario h2 {
    text-align: center;
    color: rgb(174, 103, 255);
    margin-bottom: 25px;
}

.formulario label {
    color: white;
    margin-bottom: 5px;
    margin-top: 10px;
}

.formulario input {
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.formulario button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: rgb(174, 103, 255);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 768px) {

    .formulario {
        width: 80%;
        padding: 25px;
    }

}